body {
    padding-top: 80px;
}

/* Banner styling */
.banner {
    background: url('image/banner.png') center/cover no-repeat;
    height: 300px;
}

.banner-home {
    background: url('image/banner.png') center/cover no-repeat;
    height: 100vh;
}

.info-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
}

.top-action {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.fb {
    background: #3b5998;
}
.tw {
    background: #1da1f2;
}
.yt {
    background: #ff0000;
}
.ig {
    background: #c13584;
}

.operasional {
    background:
        linear-gradient(rgba(0, 0, 80, 0.7), rgba(0, 0, 80, 0.7)),
        url('image/banner.png') center/cover;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.arrow {
    transition: transform 0.3s ease;
}

.news-item {
    transition: all 0.3s ease;
}

/* ITEM */
.layanan-item {
    border-bottom: 1px solid #ddd;
}

.layanan-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    cursor: pointer;
    background: #fff;
}

.layanan-header:hover {
    background: #f5f5f5;
}

/* BODY (HIDDEN) */
.layanan-body {
    display: none;
    padding: 12px 16px;
    background: #fafafa;
}

/* ACTIVE */
.layanan-item.active .layanan-body {
    display: block;
}

.layanan-item.active .icon {
    transform: rotate(90deg);
}

/* ICON */
.icon {
    transition: 0.3s;
}

table td i {
    font-size: 18px;
}

.table td {
    vertical-align: middle;
}

.fasilitas-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    transition: 0.3s;
}

.fasilitas-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.fasilitas-img {
    margin-top: 20px;
}

.fasilitas-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}
