<div class="banner d-flex align-items-center">
    <div class="w-100 px-4">
        <div class="mx-auto" style="max-width: 650px">
            <!-- Buttons -->
            <div class="d-flex gap-3 flex-wrap mb-3">
                <button class="btn btn-primary">Pencarian</button>
                <button class="btn btn-primary">Library</button>
                <button class="btn btn-primary">Repository</button>
                <button class="btn btn-primary">E-Journal</button>
            </div>

            <!-- Search -->
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan kata kunci pencarian buku, repository, e-journal, dan lainnya"
                />
                <button class="btn btn-dark">Search</button>
            </div>
        </div>
    </div>
</div>
