<div class="container my-5">
    <h4 class="fw-bold mb-4 text-center">FREQUENTLY ASKED QUESTIONS (FAQ)</h4>

    <hr
        style="
            border: none;
            height: 3px;
            background: #458f54;
            width: 580px;
            margin: 10px auto;
            margin-top: -10px;
            opacity: 1;
        "
    />
    <br />

    <div class="accordion" id="faqAccordion">
        <!-- ITEM 1 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq1"
                >
                    Bagaimana cara download aplikasi E-book Library UPN Veteran
                    Jakarta?
                </button>
            </h2>
            <div
                id="faq1"
                class="accordion-collapse collapse"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Aplikasi E-book Library UPN “Veteran” Jakarta tersedia pada
                    versi android, ios, windows, dan MacOS.<br /><br />
                    <ul>
                        <li>
                            Untuk versi android : Kamu dapat mencari pada
                            playstore, ketikkan “library UPNVJ” pada kolom
                            pencarian
                        </li>
                        <li>
                            Untuk versi IOS : Kamu dapat mencari pada Appstore
                            ketikkan “e-library upn veteran jakarta” pada kolom
                            pencarian
                        </li>
                        <li>
                            Untuk versi windows : Kamu dapat download aplikasi
                            pada link berikut :
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- ITEM 2 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq2"
                >
                    Bagaimana cara login E-book Library UPNVJ?
                </button>
            </h2>
            <div
                id="faq2"
                class="accordion-collapse collapse"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Mahasiswa/Dosen/Tendik sudah otomatis didaftarkan akun oleh
                    Perpustakaan. Ikuti langkah berikut untuk mengetahui akses
                    akunmu?<br /><br />
                    <ol>
                        <li>Cek Email</li>
                        <ul>
                            <li>
                                Dosen/tendik : buka email yang terdata di akun
                                http://sim.upnvj.ac.id
                            </li>
                            <li>
                                Mahasiswa : buka email yang terdata di akun
                                https://akademik.upnvj.ac.id/
                            </li>
                        </ul>
                        <li>Lakukan Pencarian</li>
                        <ul>
                            <li>
                                Pada kotak pencarian di email, ketik kata
                                “kubuku” atau “library” lalu enter untuk mencari
                            </li>
                        </ul>
                        <li>Buka Email dari kubuku</li>
                        <ul>
                            <li>
                                Buka email dari kubuku untuk meilhat user dan
                                password untuk login pada aplikasi E-book
                                Library UPN Veteran Jakarta
                            </li>
                        </ul>
                    </ol>
                    Jika terdapat kendala dalam akses login akun silakan hubungi
                    dm ig @perpustakaanupnvj
                </div>
            </div>
        </div>

        <!-- ITEM 3 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq3"
                >
                    Apa saja fitur membaca yang tersedia pada E-book Library
                    UPNVJ?
                </button>
            </h2>
            <div
                id="faq3"
                class="accordion-collapse collapse"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Night Mode/Day Mode, Discussion, Text Select untuk meng-copy
                    teks, Text Highlight, Text Underline, Text Strike, Ink
                    Tools, Add comment, Vertical/Horizontal Scroll, Flip
                    Mode/Thumbnail Mode
                </div>
            </div>
        </div>

        <!-- ITEM 4 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq4"
                >
                    Ada Berapa banyak judul koleksi E-book yang tersedia?
                </button>
            </h2>
            <div
                id="faq4"
                class="accordion-collapse collapse"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Total E-book yang tersedia di Aplikasi Library UPN Veteran
                    Jakarta adalah 897 judul buku
                </div>
            </div>
        </div>
    </div>
</div>
