<div class="container my-5">
    <h5 class="fw-bold mb-4 text-center">Frequently Asked Questions</h5>

    <div class="accordion" id="faqAccordion">
        <!-- ITEM 1 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq1"
                >
                    Apa itu layanan perpustakaan ini?
                </button>
            </h2>
            <div
                id="faq1"
                class="accordion-collapse collapse show"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <!-- ITEM 2 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq2"
                >
                    Bagaimana cara meminjam buku?
                </button>
            </h2>
            <div
                id="faq2"
                class="accordion-collapse collapse"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <!-- ITEM 3 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq3"
                >
                    Apakah tersedia akses e-journal?
                </button>
            </h2>
            <div
                id="faq3"
                class="accordion-collapse collapse"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <!-- ITEM 4 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq4"
                >
                    Bagaimana cara reservasi ruangan?
                </button>
            </h2>
            <div
                id="faq4"
                class="accordion-collapse collapse"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <!-- ITEM 5 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#faq5"
                >
                    Apakah ada denda keterlambatan?
                </button>
            </h2>
            <div
                id="faq5"
                class="accordion-collapse collapse"
                data-bs-parent="#faqAccordion"
            >
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
    </div>
</div>
