<div class="container my-5 position-relative" id="infoSection">
    <div class="row g-4">
        <!-- SOCIAL MEDIA -->
        <div id="socialFloating">
            <div class="social-wrapper d-flex flex-column gap-2">
                <a href="https://www.facebook.com/perpustakaanupnvj" target="_blank" class="btn btn-outline-dark facebook">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="https://www.instagram.com/perpustakaanupnvj/" target="_blank" class="btn btn-outline-dark instagram">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="https://www.youtube.com/channel/UCJ3wVQRnxl5LBKNDBmx4lYQ" target="_blank" class="btn btn-outline-dark youtube">
                    <i class="bi bi-youtube"></i>
                </a>

                <a href="https://x.com/upnvj_library" target="_blank" class="btn btn-outline-dark tiktok">
                    <i class="bi bi-tiktok"></i>
                </a>

                <a href="https://www.tiktok.com/@perpustakaanupnvj" target="_blank" class="btn btn-outline-dark twitter">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </div>

        <!-- BAGIAN TENGAH -->
        <div class="col-12 col-lg-7">
            <!-- TOP BUTTON -->
            <div class="d-flex gap-3 mb-3 flex-wrap">
                <a href="https://wa.me/085811591970" 
                    class="btn btn-outline-primary w-100"
                    target="_blank"
                    style="position: relative; z-index: 100;">
                    Hubungi Admin Perpustakaan
                </a>
            </div>

            <!-- JAM OPERASIONAL -->
            <div class="border p-3 rounded" id="jamOperasional">
                <h6 class="fw-bold mb-3">Jam Operasional</h6>

                <!-- NORMAL -->
                <div class="border mb-2">
                    <div
                        class="d-flex justify-content-between p-2 header-jam collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#normal"
                    >
                        <span>Kondisi Normal</span>
                        <i class="bi bi-chevron-right arrow"></i>
                    </div>

                    <div
                        id="normal"
                        class="collapse"
                        data-bs-parent="#jamOperasional"
                    >
                        <div class="p-2 border-top">
                            Senin - Kamis: 07.30 - 19.00 WIB <br />
                            Jumat: 07.30 - 19.30 WIB <br />
                            Sabtu: 08.00 - 12.00 WIB <br />
                            Minggu & Hari Libur Nasional : Tutup
                        </div>
                    </div>
                </div>

                <!-- PENYESUAIAN -->
                <div class="border mb-2">
                    <div
                        class="d-flex justify-content-between p-2 header-jam collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#penyesuaian"
                    >
                        <span>Kondisi Penyesuaian</span>
                        <i class="bi bi-chevron-right arrow"></i>
                    </div>

                    <div
                        id="penyesuaian"
                        class="collapse"
                        data-bs-parent="#jamOperasional"
                    >
                        <div class="p-2 border-top">
                            Senin s.d Kamis: 07:30 – 16:00 WIB <br />
                            Jum’at : 07:30 -16:30 WIB <br />
                            Sabtu : Tutup <br />
                            Minggu & Hari Libur Nasional : Tutup <br />
                        </div>
                    </div>
                </div>

                <!-- RAMADHAN -->
                <div class="border">
                    <div
                        class="d-flex justify-content-between p-2 header-jam collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#ramadhan"
                    >
                        <span>Bulan Ramadhan</span>
                        <i class="bi bi-chevron-right arrow"></i>
                    </div>

                    <div
                        id="ramadhan"
                        class="collapse"
                        data-bs-parent="#jamOperasional"
                    >
                        <div class="p-2 border-top">
                            Senin s.d Kamis: 08:00 – 15:00 WIB <br />
                            Jum’at : 08:00 - 15:30 WIB <br />
                            Sabtu : Tutup <br />
                            Minggu & Hari Libur Nasional : Tutup <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BAGIAN KANAN -->
        <div class="col-12 col-lg-5">
            <!-- CTA utama -->
            <div class="d-flex gap-3 mb-3 flex-wrap">
                <a href="https://wa.me/6281234567890" 
                    class="btn btn-outline-primary w-100"
                    target="_blank"
                    style="position: relative; z-index: 100;">
                    Reservasi Ruangan
                </a>
            </div>

            <!-- Grid Menu -->
            <div class="row g-3">
                <!-- Repository -->
                <div class="col-4 text-center">
                    <a
                        href="https://repository.upnvj.ac.id/"
                        target="_blank"
                    >
                        <img
                            src="/image/home_repository.png"
                            class="img-fluid"
                            alt="Repository"
                        />
                    </a>
                </div>

                <!-- Library -->
                <div class="col-4 text-center">
                    <a
                        href="https://library.upnvj.ac.id/"
                        target="_blank"
                    >
                        <img
                            src="/image/home_library.png"
                            class="img-fluid mb-2"
                            alt="Library"
                        />
                    </a>
                </div>

                <!-- E-Journal -->
                <div class="col-4 text-center">
                    <a
                        href="https://ejournal.upnvj.ac.id/"
                        target="_blank"
                    >
                        <img
                            src="image/home_ejournal.png"
                            class="img-fluid mb-2"
                            alt="E-Journal"
                        />
                    </a>
                </div>

                <!-- E-Book -->
                <div class="col-4 text-center">
                    <a
                        href="https://kubuku.id/download/library-upn-veteran-jakarta/"
                        target="_blank"
                    >
                        <img
                            src="/image/home_app.png"
                            class="img-fluid"
                            alt="Aplikasi E Book Perpustakaan Upnvj"
                        />
                    </a>
                </div>

                <!-- E-Resource -->
                <div class="col-4 text-center">
                    <a
                        href="/eresource.html"
                    >
                        <img
                            src="/image/home_eresource.png"
                            class="img-fluid"
                            alt="E Resource"
                        />
                    </a>
                </div>

                <div class="col-4 text-center">
                    <a
                        href="https://drive.google.com/file/d/1u5qb9KZlPd9iVIaidPtRgd0Kf6sQ0EJ1/view"
                    >
                        <img
                            src="/image/home_opacapp.png"
                            class="img-fluid"
                            alt="OPAC APP"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- PANDUAN -->
    <div class="row mt-4">
        <div class="col-lg-8">
            <div class="border p-3 rounded">
                <h6 class="fw-bold">Cari Panduan?</h6>
                <ul class="mb-0">
                    <li>
                        <a href="/docs/Panduan-akses-Repository-UPNVJ.pdf" class="panduan-link">
                        Panduan Akses Repository UPNVJ
                        </a>
                    </li>
                    <li>
                        <a href="/docs/Panduan-Aplikasi-E-library-UPN-Veteran-Jakarta.pdf" class="panduan-link">
                        Panduan Aplikasi E-Library UPNVJ
                        </a>
                    </li>
                    <li>
                        <a href="/docs/Panduan-cara-mengakses-OPAC-Perpustakaan-UPNVJ.pdf" class="panduan-link">
                        Panduan Akses OPAC Perpustakaan UPNVJ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
